*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5e5e5;
}
.conty{
    padding:50px 150px;
}
.holder{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 25px;
    width: 130px;
    height: 50px;
    background-color: rgb(33, 200, 226);
    box-shadow: inset 2px 2px 4px -1px #26262687, 1px 4px 2px -3px #ffffff, -1px -1px 3px -0.5px #8b8b8b,inset -1px -1px 5px -2px #ffffff
}
.insaide{
    position: relative;
    
}
.sun{
   z-index: 10;
   transition: all 0.5s;
    position: absolute;
    left: 5px;
    transform: translateY(50%);
    top:-15px;
    width: 40px;
    height: 40px;
    background-color: #f7e349;
    border-radius: 50%;
    box-shadow: 2px 2px 4px -1px #26262687, inset 2px 2px 2px -1px #ffffff87, inset -1px -3px 2px -1px #3b3b3b87;
}
.cloud{
    transition: all 0.5s;
    position: absolute;
    right: -25px;
    bottom: -30px;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.916);
    border-radius: 50%;
}
.cloud1{
    transition: all 0.5s;
    position: absolute;
    right: -12px;
    bottom: -45px;
    width: 20px;
    height: 20px;
    background-color: rgb(242, 252, 255);
    border-radius: 50%;
}
.cloud2{
    transition: all 0.5s;
    position: absolute;
    right: 2px;
    bottom: -62px;
    width: 30px;
    height: 30px;
    background-color: rgb(242, 252, 255);
    border-radius: 50%;
}
.cloud3{
    transition: all 0.5s;
    position: absolute;
    right: 25px;
    bottom: -62px;
    width: 30px;
    height: 30px;
    background-color: rgb(242, 252, 255);
    border-radius: 50%;
}
.cloud4{
    transition: all 0.5s;
    position: absolute;
    right: 50px;
    bottom: -70px;
    width: 25px;
    height: 25px;
    background-color: rgb(242, 252, 255);
    border-radius: 50%;
}
.sun-light1{
    transition: all 0.5s;
    position: absolute;
    left: 0px;
    top: 25px;
    transform: translateY(-50%);
    width: 60px;
    height:60px;
    border-radius: 50%;
    background-color: rgba(213, 213, 213, 0.158);
}
.sun-light2{
    transition: all 0.5s;
    position: absolute;
    left: 0;
    top: 25px;
    transform: translateY(-50%);
    width:75px;
    height:75px;
    border-radius: 50%;
    background-color: rgba(233, 233, 233, 0.14);
}

  
  .four-pointed-star:before{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  .four-pointed-star:after{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }

  
  .four-pointed-star1:before{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  .four-pointed-star1:after{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }

  
  .four-pointed-star2:before{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  .four-pointed-star2:after{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }
  .four-pointed-star{

    display: none;
    position: absolute;
    left: 60px;
    top:25px;
    font-size:2px;
  }
.four-pointed-star1{
   
    display: none;
    position: absolute;
    left: 20px;
    top:10px;
    font-size:3px;
  }
.four-pointed-star2{
   
    display: none;
    position: absolute;
    left: 35px;
    top:22px;
    font-size:4px;
  }
.four-pointed-star3{
   
    display: none;
    position: absolute;
    left: 15px;
    top:35px;
    font-size:2px;
  }
.four-pointed-star4{
   
    display: none;
    position: absolute;
    left: 50px;
    top:40px;
    font-size:2px;
  }

  
  .four-pointed-star3:before{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  .four-pointed-star3:after{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }
  .four-pointed-star4:before{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  .four-pointed-star4:after{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }
  .four-pointed-star5:before{
    content:"";
    position:absolute;
    background:rgb(255, 255, 211);
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
.moony{
    display: none;
    transition: all 0.5s;
    border-radius: 50%;
position: absolute;
left: 7px;
top:15px;
width: 17px;
height: 17px;
background-color: #bebebe;
box-shadow: inset 1px 1px 3px 0px #8a8a8a98;
}
.moony1{
    display: none;
    transition: all 0.5s;
    border-radius: 50%;
position: absolute;
left: 20px;
top:5px;
width: 9px;
height: 9px;
background-color: #bebebe;
box-shadow: inset 1px 1px 3px 0px #8a8a8a98;
}
.moony2{
    display: none;
    transition: all 0.5s;
    border-radius: 50%;
position: absolute;
left: 27px;
top:22px;
width: 7px;
height: 7px;
background-color: #bebebe;
box-shadow: inset 1px 1px 3px 0px #8a8a8a98;
}